/* HOME */
.banner {
	position: relative;
	background-image: url('/public/rrhh.png');
	background-size: cover;
	padding: 10em;
	height: 100vh;
	display: flex;
	align-items: center;
  }
  
  .banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(78, 116, 148, 0.5); /* Color oscuro con opacidad */
  }
  
  .banner-title {
	color: white;
	font-size: 2.5em;
	font-weight: bold;
  }


body {
	user-select: none;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100vw;
	background-color: #fff;
	color: #1a1a1a;
	padding: 20px;
	box-sizing: border-box;
}
.App {
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px; /* Ajustar el ancho máximo del contenido, puede ajustarse según tus necesidades */
	margin: 0 auto; /* Centrar el contenido */
	padding: 20px; /* Agregar un espacio interno al contenedor */
}

.icon-link > .bi {
	width: 0.75em;
	height: 0.75em;
}

/*
 * Custom translucent site header
 */

.site-header {
	background-color: rgba(0, 0, 0, 0.85);
	backdrop-filter: saturate(180%) blur(20px);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	padding: 20px; /* Agregar espaciado al encabezado */
}

.site-header a {
	color: #8e8e8e;
	transition: color 0.15s ease-in-out;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

.form-control-dark {
	border-color: var(--bs-gray);
}
.form-control-dark:focus {
	border-color: #fff;
	box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.video-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.fullscreen-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.imgport img {
	width: 100%;
}
/*
 * Extra utilities
 */

.flex-equal > * {
	flex: 1;
}
.signin input, .signup input{
	height:2em;
	font-size:2em;
	border-radius:0.6em;
	text-align:center;
  }
@media (min-width: 768px) {
	.flex-md-equal > * {
		flex: 1;
	}

	.site-header {
		padding: 30px; /* Ajustar el espaciado para pantallas más grandes */
	}
}


/* RESPONSIVE */

/* Desde la anchura 0px hasta la anchura 1492px de pantalla*/
@media (max-width: 1492px) {
	/*Se ejecutarán estos estilos */
	.center {
		width: 85%;
	}
}
/* Desde la anchura 0px hasta la anchura 1316px de pantalla*/
@media (max-width: 1316px) {
	/*Se ejecutarán estos estilos */
	.center {
		width: 95%;
	}
	#menu ul {
		width: auto;
	}
}

/* Desde la anchura 0px hasta la anchura 1203px de pantalla*/
@media (max-width: 1203px) {
	#logo {
		float: none;
		width: 500px;
		margin: 0px auto;
		margin-top: 20px;
	}
	#menu ul {
		clear: both;
		float: none;
		width: 100%;
		margin: 0px;
		padding: 0px;
		line-height: 43px;
	}

	.mid-form {
		width: 70%;
	}
}
/* Estilos para pantallas con un ancho máximo de 767px */
@media (max-width: 767px) {
	/* Estilos para ocultar la lista de elementos en el menú */
	.banner h1 {
		padding-inline: 10%;
	}

	#logobanner {
		padding-left: 5%;
		animation: girar-2 infinite 40s linear;
	}

	#secondlogobanner {
		padding-right: 5%;
		animation: girar-3 infinite 40s linear;
	}
}
/* Estilos para pantallas con un ancho máximo de 767px */
@media (max-width: 659px) {
	/* Estilos para ocultar la lista de elementos en el menú */
	.banner h1 {
		display: none;
	}

	#logobanner {
		padding-left: 5%;
		animation: girar-2 infinite 40s linear;
	}

	#secondlogobanner {
		padding-right: 5%;
		animation: girar-3 infinite 40s linear;
	}
}
/* Desde la anchura 0px hasta la anchura 494px de pantalla*/
@media (max-width: 532px) {
	/*Se ejecutarán estos estilos */
	.interested,
	#articles .slider {
		display: none;
	}
}

/* Desde la anchura 0px hasta la anchura 494px de pantalla*/
@media (max-width: 494px) {
	/*Se ejecutarán estos estilos */
	.image-wrap {
		width: 15%;
	}
	#menu ul {
		line-height: 10px;
	}

	#menu ul li {
		margin-left: 2px;
		margin-right: 3px;
	}

	#slider {
		height: 180px;
	}

	#slider.slider-small {
		height: 100px;
	}
}
